.parent {
    display: block;
    margin: 9% 1% 6% 6%;
    margin-bottom: 8em;
    min-height: 330px;
}

.child-p {
    margin: 0 6% 0 0;
    line-height: 2em;
    letter-spacing: 0.05em;
}

/*.child-image {
    float: left;    
    margin: 0 6% 0 0;
    width: 202px;
    height: 330px;
    background-image:
} */ 
