.more {
    text-align: right;
    font-size: 1.5em;
    color: #1c1c1c;
    letter-spacing: 0.1em;
}

.more> :last-child {
  background-color: #f8f8f8;
  color: #57d25c;
  letter-spacing: 0em;
  margin: -0.15em;
}

.work-container {
  display: flex;
  justify-content: center;
  min-height: 40vh;
  margin-top: 9%;
}